*{
	font-family: 'Lato', sans-serif;
}
hr{
	width:50px;border:5px solid red;
	    border-radius: 4px;
	    margin: 20px 0
}
h1{
	font-size: 63px;
	padding-top: 1em
}
h2{
	color: red;
	font-size:34px;
	padding-bottom: 20px;
}
p {
    margin-bottom:  1em;

}
a{
	text-decoration: none;
}

/*main*/


